---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Conóceme"
	description="Un poquito de información sobre mi"
	pubDate={new Date('08/11/2024')}
	heroImage="/conoceme.jpg"
>
<p style="text-align: justify;">
	Nací un 11 de Febrero de 1985 (era lunes), en una población del Este de España.<br>
	Mi infancia era de lo más entretenida y divertida.<br>
	Una de las cosas que hacía que fuese tan especial, eran mis padres y mis hermanas.<br>
	Mi padre me enseñó cosas del mundo de la electrónica, y de forma indirecta y sin querer me metió en el mundo de la informática.<br>
	Por otro lado, mi madre se ponía a jugar conmigo a las videoconsolas. Nos poníamos los dos a ver si éramos capaces de pasarnos un nivel del mítico Super Mario.<br>
	No éramos una familia rica monetariamente, pero si ricos de corazón (lo decía mi abuela).<br>
</p>
<p style="text-align: justify;">
	Todo empezó con una videoconsola "NES". Ese aparato era capaz de introducirnos en un mundo nuevo.<br>
	Pase por la "NES", "MegaDrive" y PlayStation2.<br>
</p>
<p style="text-align: justify;">
	El primer PC que tuvimos en casa, fue un 386 que tenía el modo "Turbo".<br>
	Ese botón era como meterte en la ultra computación. Era presionarlo y sentir que el PC podía ejecutar cualquier programa en cuestión de segundos.<br>
	Como tampoco teníamos para comprar ordenadores, mi padre me traía componentes de otros ordenadores que habían dejado de funcionar. Y yo me encargaba de unirlos y crear un nuevo "Frankenstein"<br>
</p>
<p style="text-align: justify;">
	Después de una infancia divertida, tocó el momento de decidir mi futuro.<br>
	No lo tenía claro. No sabía si escoger Ingeniería Aeronáutica, Ingeniería de Telecomunicaciones, Ingeniería Electrónica o Ingeniería Informática.<br>
	Al final, después de tantear diferentes alternativas, me quede con la Informática.<br>
	Y creo que acerté. Me encanta y lo disfruto.
</p>
<p style="text-align: justify;">
	Ahora quiero enseñar un poco lo que me encanta hacer. Quiero mostrar que realmente se puede hacer de todo.<br>
	Por ello, he creado esta "web". Para mostraros, todo lo que podemos hacer<br>
	Si, lo he dicho bien. Lo que podemos hacer.
</p>

<p style="text-align: justify;">
	Os invito a descubrir, ilusionaros, aprender, informaros, investigar, inventar, crear y disfrutar.<br>
	Esto no es un sitio para leer. Esto es un lugar donde volver a ilusionaros.<br>
	Por ello, he creado un canal de Twitch, otro de YouTube e incluso un Instagram.<br>
	El motivo, enseñar que todo lo podemos crear. Incluso la "magia". <br>
	Es por ello que actualmente, los proyectos están orientados al mundo de Hogwarts. El motivo es simple,<strong>
	ME CASO</strong>. Y quiero hacer una boda temática del mundo de Hogwarts. Y para hacerlo, usaré la imaginación y la tecnología para que sea <strong>ÉPICO</strong>.<br>
</p>
<p style="text-align: justify;">
	Gracias a todos y nos vemos por la redes!!! Un saludo!!!
</p>
</Layout>
