---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenidos!</h1>
			<p>
				Mi nombre es David, aunque normalmente me llaman Derte.
			</p>
			<p>	
				Me dedico a ser programador, y me gusta crear cosas desde 0.<br />
				Ya sea programando o manualidades.
			</p>
			<p>
				En la parte de Proyectos, tendréis un listado de los que he realizado, estoy realizando o realizaré. Espero que os sirva para vuestros proyectos personales, y que lo disfrutéis.
			</p>
			<p>
				Actualmente, hay diferentes medios donde iré subiendo los proyectos.
				<br />
				Se libre de visitarlos y disfrutarlos.
			</p>
		</main>
		<Footer />
	</body>
</html>
