---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Proyectos Futuros"
	description="Un poquito de información sobre mi"
	pubDate={new Date('10/04/2024')}
	heroImage="/img/102766124421964.jpg"
>

<h3>Proyectos Independientes</h3>
<ul>
	<li>
		Pip Boy (Fallout)
	</li>
	<li>
		Gestor de Software OpenSource
	</li>
	<li>
		Servidor Raspberry Pi
	</li>
	<li>
		Dispositivos IoT conectados a una Raspberry Pi con colas MQTT
	</li>
	<li>
		Aplicación Android para recibir las notificaciones de directo. 
	</li>
	<li>
		Web con WebRTC, para entrevistas a seguidores.
	</li>
	<li>
		Canal Youtube.
	</li>
	<li>
		Aplicación para la interacción de los espectadores al streamer.
	</li>
	<li>
		Aplicación Web de consulta de sobre el mundo del Motor, su história y su futuro.
		Incluso con referéncia de artículos.
	</li>
	<li>
		Crear Juego RaceDead. (plataforma no definida)
	</li>
	<li>
		Crear un Emulador 8080.
	</li>
</ul>

<h3>Proyectos de la Boda</h3>
<ul>
	<li>
		Animatrónico de Dobby 
	</li>
	<li>
		Libro de Firmas Digital
	</li>
	<li>
		Libro Monstruoso
	</li>
	<li>
		Página Web de la Boda
	</li>
	<li>
		Ejecutor de hechizos
	</li>
	<li>
		Snitch levitando
	</li>
	<li>
		Animatrónico del Sombrero Seleccionador
	</li>
	<li>
		Varitas con NFC
	</li>
	<li>
		Cielo electrificante
	</li>
</ul>

</Layout>
