---
import { Icon } from 'astro-icon/components'

interface Props {
	title: string;
	href: string;
    icon: string;
}

const { href, title, icon } = Astro.props;
---

<div class="link-red">
	<a href={href} title={title}>
        <Icon name={icon} />
	</a>
</li>
<style scoped>
	.link-red {
        width: 50px;
        height: 50px;
        background-color: transparent;
        margin: 0px;
        padding: 0px;
	}
	.link-red > a {
		width: 50px;
        height: 50px;
        background-color: transparent;
        margin: 0px;
        padding: 0px;
	}
    .link-red > a > svg{
		width: 50px;
        height: 50px;
        background-color: transparent;
	}
</style>
