---
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="backgroundHome"></div>
		<div class="dataHome">
			<slot />
			<div id="menu1">
				<Icon name="mdi:hamburger-menu" />
			</div>
			<nav id="menu2" hidden>
				<ul>
				  <li><a href="#">Inicio</a></li>
				  <li><a href="#">Sobre nosotros</a></li>
				  <li><a href="#">Contacto</a></li>
				</ul>
			</nav>
		</div>
		<script is:inline>
			let action = () => {
				document.getElementById('menu1').toggleAttribute('hidden');
				document.getElementById('menu2').toggleAttribute('hidden');
			}; 
			document.getElementById('menu1').addEventListener('click',action);
			document.getElementById('menu2').addEventListener('click',action);
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: monospace;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
	.backgroundHome{
		position: absolute;
		background: linear-gradient(rgb(71, 180, 199), rgb(95, 204, 171));
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.dataHome {
		position:absolute;
		width: 100vw;
		margin: 0px;
		padding: 0px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
	}
	#menu1 {}
	#menu2 {}
	#menu1, #menu2 {

	}
</style>
